.title-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.slider-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
}