.footer_class {
  background: #000000;
  font-family: sans-serif;
  max-width: 1280px;
  margin: auto;
}
.footer {
  width: 100%;
  background: #111;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2rem;
  font-family: Poppins;
  color: #fff;
  margin-bottom: 10px;
}
.footer-content p {
  max-width: 550px;
  margin: 10px auto;
  line-height: 28px;
  color: #cacdd2;
  font-family: Popins;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  padding-inline-start: 0px

}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  background: #000;
  text-align: center;
  padding: 0px 10px 40px 10px;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-right: 10px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
