.addtowatchlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 0 auto;
    min-width: 350px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 25px 50px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.addto-wl-header h2{
    margin: 0;
}

.addto-wl-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    position: relative;
}

.addto-wl-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #676767;
    bottom: -20px;
    left: 0;
}

.create-wl-btn{
    width: max-content;
    font-size: 0.9rem;
    border-radius: 8px;
    padding: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5799ef;
    color: white;
}

.addto-wl-body{
    width: 80%;
    margin-top: 15px;
    max-height: 250px;
    overflow-y: scroll;
}

.addto-wl-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.addto-wl-item:last-child{
    margin-bottom: 0px;
}

.addto-wl-item-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.addto-wl-item-name h3{
    margin: 0;
}

.addto-wl-loading{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wl-movies-count{
    font-size: 0.85rem;
    color: darkgray;
}

@media screen and (max-width: 600px){
    .addtowatchlist{
        padding: 25px 15px;
        min-width: 90%;
    }
}