.create-wl-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 25px;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 25px 50px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.create-wl-header h2{
    margin: 0;
}

.create-wl-body{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

#watchlist-name{
    width: 100%;
    padding: 5px;
    background-color: #676767;
    border: none;
    outline: none;
    border-radius: 7px;
    color: white;
    height: 1.5rem;
    font-size: 1rem;
}

.create-wl-body label{
    font-size: 1.1rem;
}

.create-wl-footer{
    width: 100%;
}

.create-wl-footer button{
    height: 1.7rem;
    width: 5rem;
    font-size: 0.9rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5799ef;
    color: white;
}