.header-wrapper{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

div.header{
    position: sticky;
    top: 0;
    z-index: 15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* background-color: rgb(18,18,18); */
    color: white;
    min-height: 50px;
    gap: 50px;
}

.header a{
    color: white;
    padding-bottom: 5px;
}

.navtabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    font-size: 1.05em;
}

.header-window-left{
    display: flex;
    gap: 35px;
}

.right-navbar , .search-panel , .user-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-panel{
    position: relative;
}

.searchbox{
    border-radius: 20px;
}

.right-navbar{
    gap: 10px;
}

.search-box{
    position: relative;
    height: 1.7rem;
}

.search-input{
    height: 100%;
    width: 30px;
    padding: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    outline: none;
    font-size: 0.95rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f5c518;
    background-color: transparent;
    color: transparent;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}

.search-input::placeholder{
    transition: all 0.5s ease-in-out;
    color: transparent;
}

.search-icon{
    position: absolute !important;
    right: 0;
    top: 50%;
    padding: 3px !important;
    transform: translateY(-50%);
    z-index: 1;
}


.search-input:focus , .search-input:hover , .search-icon:hover ~ .search-input , .search-icon:focus ~ .search-input{
    width: 250px;
    color: white;
    /* border-bottom: 2px solid yellow; */
}


.search-input:focus::placeholder , .search-input:hover::placeholder , .search-icon:hover ~ .search-input::placeholder , .search-icon:focus ~ .search-input::placeholder{
    color: white;
}

.mobile-logo{
    display: none;
}

.tabs::after{
    content: '';
    display: block;
    margin: auto;
    width: 0px;
    margin-top: 5px;
    height: 2px;
    background-color: #f5c518;
    /* border-bottom: 2px solid yellow; */
}

.tabs:hover::after{
    width: 90%;
    transition: all 0.2s ease-in-out;
    transform-origin: 50%;
}

.active::after{
    content: '';
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 5px;
    height: 2px;
    background-color: #f5c518;
}

/* Search Preview Css */

.search-preview{
    background-color: rgb(26,26,26);
    position: absolute;
    top: 180%;
    min-width: 450px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 530px;
    z-index: 1000;
    min-height: 175px;
    border-radius: 10px;
    overflow-y: scroll;
    margin: auto;
}

.search-preview::-webkit-scrollbar{
    display: none;
}

.search-preview-image{
    width: 60px;
}

.search-preview-image img{
    width: 100%;
}

.search-preview-item:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.search-preview-item:last-child{
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-preview-item{
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 5px 10px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}

.search-preview-item:hover{
    background-color: rgb(18,18,18);
}

.search-preview-description{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
}

.search-preview-section{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 0.85rem;
    color: darkgray;
}

.search-preview-title{
    font-size: 1rem;
    font-weight: 300;
    color: white;
}

.search-preview-date{
    font-size: 0.85rem;
    color: darkgray;
}

.search-preview-rating{
    display: flex;
    align-items: center;
    gap: 2px;
}
  
  /* Custom dot using ::before pseudo-element */
  .search-preview-dot {
    position: relative;
  }
  
  .search-preview-dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 4px;
    height: 4px;
    background-color: gray;
    border-radius: 50%;
    transform: translate(-50% , -20%);
}


/* Back to top button */

.back-to-top-btn{
    background-color: white;
    color: black;
    padding: 2px 10px 2px 7px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.back-to-top-btn:hover{
    background-color: rgb(229, 229, 229);
}


/* Drawer Css */

.drawer-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: white;
}

.drawer-navs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 1.1rem;
    gap: 20px;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: white;
}

.drawer-navs span{
    flex: 1;
}

.drawer-navs:hover{
    color: #f5c518;
}

.active-drawer-navs{
    color: #f5c518;
}

.mobile-search{
    display: none;
    flex: 1;
}

.mobile-user-panel{
    padding-top: 10px;
    display: none;
    align-items: center;
    padding-bottom: 10px;
}

.mobile-search-box{
    position: relative;
    flex: 1 0 250px;
}

.mobile-search-input{
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 5px;
    padding-bottom: 7px;
    outline: none;
    font-size: 0.95rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #f5c518;
    background-color: transparent;
    color: white;
}

.search-box-modal{
    display: none;
}

@media screen and (max-width: 768px){
    .navtabs{
        gap: 20px;
    }
    /* .header{
        display: none;
    } */
    .mobile-logo{
        display: flex;
    }
    .header-wrapper{
        display: none !important;
    }
    .mobile-search{
        display: flex;
    }
    .mobile-user-panel{
        display: flex;
        /* align-items: center; */
    }
}

@media screen and (max-width: 540px){
    .mobile-search{
        display: none;
    }
    .search-box-modal{
        display: block;
    }
}


@media screen and (max-width: 480px){
    .navtabs{
        gap: 10px;
    }
}