header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: rgb(18,18,18);
    color: white;
}

.header a{
    color: white;
    padding-bottom: 5px;
}

.navtabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    font-size: 1.05em;
}

.right-navbar , .search-panel , .user-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-panel{
    position: relative;
}

.searchbox{
    border-radius: 20px;
}

.right-navbar{
    gap: 10px;
}

.search-box{
    position: relative;
    height: 1.7rem;
}

.search-input{
    height: 100%;
    width: 30px;
    padding: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    outline: none;
    font-size: 0.95rem;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid yellow;
    background-color: transparent;
    color: transparent;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}

.search-input::placeholder{
    transition: all 0.5s ease-in-out;
    color: transparent;
}

.search-icon{
    position: absolute !important;
    right: 0;
    top: 50%;
    padding: 3px !important;
    transform: translateY(-50%);
    z-index: 1;
}


.search-input:focus , .search-input:hover , .search-icon:hover ~ .search-input , .search-icon:focus ~ .search-input{
    width: 250px;
    color: white;
    /* border-bottom: 2px solid yellow; */
}


.search-input:focus::placeholder , .search-input:hover::placeholder , .search-icon:hover ~ .search-input::placeholder , .search-icon:focus ~ .search-input::placeholder{
    color: white;
}


.tabs::after{
    content: '';
    display: block;
    margin: auto;
    width: 0px;
    margin-top: 5px;
    height: 2px;
    background-color: yellow;
    /* border-bottom: 2px solid yellow; */
}

.tabs:hover::after{
    width: 90%;
    transition: all 0.2s ease-in-out;
    transform-origin: 50%;
}

.active::after{
    content: '';
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 5px;
    height: 2px;
    background-color: yellow;
}

/* Search Preview Css */

.search-preview{
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    background-color: rgb(26,26,26);
    position: absolute;
    top: 180%;
    min-width: 500px;
    right: -115px;
}


@media screen and (max-width: 768px){
    .navtabs{
        gap: 20px;
    }
    .header{
        display: none;
    }
}

@media screen and (max-width: 480px){
    .navtabs{
        gap: 10px;
    }
}

/* Path: src\components\header\header.js */